body{
  background-color: #ddd;
}
.App {
  text-align: center;
  /* margin-top: 50px; */
  margin-left: 20vw;
  margin-right: 20vw;
  background-size: cover;
  background-repeat: no-repeat;
  
  color: rgb(10, 14, 14);
  background-image: url("https://img.freepik.com/free-photo/digital-art-young-students-attending-school-education_23-2151065233.jpg?t=st=1710152354~exp=1710155954~hmac=e670d5b272622f9047a234066c5ba1502b65e8ed1c78cf0529ec3df9f4733fd9&w=740");
}

input[type="text"],
input[type="number"] {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

div > div {
  margin-top: 20px;
}

span {
  margin-right: 10px;
}
